<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="enpire_gripper">
  <xacro:macro name="enpire_gripper" params="prefix parent *origin stroke:=0.08">

    <!-- Gripper Palm / Base Link -->
    <link name="${prefix}enpire_base_link">
      <inertial>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <mass value="0.25"/>
        <inertia ixx="0.0002" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.08 0.04"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.08 0.04"/>
        </geometry>
      </collision>
    </link>

    <!-- Attach Base Link to Parent -->
    <joint name="${prefix}enpire_base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}enpire_base_link"/>
    </joint>

    <!-- Left Finger Slider Joint -->
    <joint name="${prefix}enpire_left_finger_joint" type="prismatic">
      <origin xyz="0 0.02 0.04" rpy="0 0 0"/>
      <parent link="${prefix}enpire_base_link"/>
      <child link="${prefix}enpire_left_finger"/>
      <axis xyz="0 1 0"/>
      <limit lower="0.0" upper="${stroke/2}" effort="50" velocity="0.2"/>
      <dynamics damping="1.0" friction="0.1"/>
    </joint>

    <!-- Left Finger Link -->
    <link name="${prefix}enpire_left_finger">
      <inertial>
        <origin xyz="0 0.01 0.035" rpy="0 0 0"/>
        <mass value="0.045"/>
        <inertia ixx="0.00003" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://enpire_gripper/stl/enpire_i2rt_yam/enpire_yam_finger_standard_left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="nvidia_green">
          <color rgba="0.45 0.75 0.15 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://enpire_gripper/stl/enpire_i2rt_yam/enpire_yam_finger_standard_left.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Right Finger Slider Joint (Mimics Left) -->
    <joint name="${prefix}enpire_right_finger_joint" type="prismatic">
      <origin xyz="0 -0.02 0.04" rpy="0 0 0"/>
      <parent link="${prefix}enpire_base_link"/>
      <child link="${prefix}enpire_right_finger"/>
      <axis xyz="0 -1 0"/>
      <limit lower="0.0" upper="${stroke/2}" effort="50" velocity="0.2"/>
      <dynamics damping="1.0" friction="0.1"/>
      <mimic joint="${prefix}enpire_left_finger_joint" multiplier="1.0" offset="0.0"/>
    </joint>

    <!-- Right Finger Link -->
    <link name="${prefix}enpire_right_finger">
      <inertial>
        <origin xyz="0 -0.01 0.035" rpy="0 0 0"/>
        <mass value="0.045"/>
        <inertia ixx="0.00003" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://enpire_gripper/stl/enpire_i2rt_yam/enpire_yam_finger_standard_right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="nvidia_green">
          <color rgba="0.45 0.75 0.15 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://enpire_gripper/stl/enpire_i2rt_yam/enpire_yam_finger_standard_right.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- TCP (Tool Center Point) Frame -->
    <joint name="${prefix}enpire_tcp_joint" type="fixed">
      <origin xyz="0 0 0.075" rpy="0 0 0"/>
      <parent link="${prefix}enpire_base_link"/>
      <child link="${prefix}enpire_tcp"/>
    </joint>
    <link name="${prefix}enpire_tcp"/>

  </xacro:macro>
</robot>
